<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/theme/black.css">
</head>
<body>
<h1>Astro</h1>

<div class="reveal">
    <div class="slides">
        <slot />
    </div>
</div>

<script>
    import Reveal from "reveal.js";
    import RevealHighlight from "reveal.js/plugin/highlight/highlight";
    import RevealMarkdown from "reveal.js/plugin/markdown/markdown";
    import RevealNotes from "reveal.js/plugin/notes/notes";

    Reveal.initialize({
        transition: "slide",
        center:false,
        history: true,
        progress: true,
        controls: true,
        autoAnimateDuration: 0.5,
        autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes], // use this if you want to show some code
    });
</script>
</body>
</html>


<style is:global>
    @import "reveal.js/dist/reveal.css";
    @import "reveal.js/dist/theme/night.css";
</style>
